@model JuliePro.Models.Speciality

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Speciality</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group col-4" >
                <button type="submit" value="Save" class="btn btn-info w-100" aps-route-Id="@Model.Id"><i class="fa-solid fa-floppy-disk"></i>&nbsp;Save </button>
            </div>
        </form>
    </div>
</div>

<div class="col-2">
    <a class="btn btn-secondary w-100" asp-action="Index"><i class="fa-solid fa-circle-arrow-left"></i>&nbsp;Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
